/* /font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5; */

body{
  margin: 0;
  padding: 0;
}

.Layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

.Layout .main {
  flex-grow: 1;
}

